.card-custom{
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: .5s ease;
    & i {
        font-size: 70px;
        transition: .2s ease;
        z-index: 100;
    }
    &__progress{
        position: relative;
        width: 90%;
        height: 90%;
        border-radius: 50%;
        background: conic-gradient(#7d2ae8 75deg, #ededed 0deg);
        display: flex;
        align-items: center;
        justify-content: center;
        // transform: translateY(50%);
        transition: .5s ease;
    }
    &__progress::before{
        content: "";
        position: absolute;
        height: 80%;
        width: 80%;
        border-radius: 50%;
        background-color: #fff;
    }
}

// .card:hover {
//     // transform: matrix(0, 1, 1, 0, 0, 0);
//     transform: rotateX(180deg);
//     & i {
//         visibility: hidden;
//     }
//     &__progress{
//         transform: translateY(-50%);
//     }
// }