.col{
    & i {
        width: 30px;
    }
    &__html{
        & i {
            color: #e44d27;
        }
        &__progress{
            background: #e44d27;
        }
    }
    &__css{
        & i {
            color: #4264af;
        }
        &__progress{
            background: #4264af;
        }
    }
    &__bootstrap{
        & i {
            color: #553c7d;
        }
        &__progress{
            background: #553c7d;
        }
    }
    &__js{
        & i {
            color: #f2df21;
        }
        &__progress{
            background: #f2df21;
        }
    }
    &__angular{
        & i {
            color: #e33038;
        }
        &__progress{
            background: #e33038;
        }
    }
    &__node{
        & i {
            color: #99ca5d;
        }
        &__progress{
            background: #99ca5d;
        }
    }
    &__sql{
        & i {
            color: #11678c;
        }
        &__progress{
            background: #11678c;
        }
    }
}

.progress{
    height: 40px;
    width: 93%;
}

.d-flex{
    justify-content: space-between;
    align-items: center;
}

.progress-bar{
    // transform: translateX(-100%);
    transition: progress .5s ease;
    & span {
        align-self: flex-start;
        margin-left: 10px;
        font-weight: bold;
        font-size: 15px;
        text-shadow: 1px 1px 2px black;
    }
}

@keyframes progress {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}