<!-- Skills start ============================================================================================= -->
<section>
    <div class="container text-center">
      <h3 class="my-5 fs-1">Mes Compétences</h3>
      <hr>
      <div class="row row-cols-1 row-cols-md-2 fs-4">
        <div class="col">
          <div class="d-flex align-items-center my-3" style="color: #e44d27">
            <i class="fab fa-html5"></i>
            <p class="w-100 mx-1 my-0"><ngb-progressbar type="indigo" [value]="80" [striped]="true" [animated]="true">HTML5<i class="fab fa-html5"></i></ngb-progressbar></p>
          </div>
          <div class="d-flex align-items-center my-3" style="color: #4264af">
            <i class="fab fa-css3-alt"></i>
            <i class="fab fa-sass"></i>
            <p class="w-100 mx-1 my-0"><ngb-progressbar type="success" [value]="80" [striped]="true" [animated]="true">CSS3 / SCSS</ngb-progressbar></p>
          </div>
          <div class="d-flex align-items-center my-3" style="color: #f2df21">
            <i class="fab fa-js"></i>
            <p class="w-100 mx-1 my-0"><ngb-progressbar [value]="80" [striped]="true" [animated]="true">Javascript / TypeScript</ngb-progressbar></p>
          </div>
          <div class="d-flex align-items-center my-3" style="color: #e44d27">
            <i class="fab fa-angular"></i>
            <p class="w-100 mx-1 my-0"><ngb-progressbar type="success" [value]="80" [striped]="true" [animated]="true">HTML5</ngb-progressbar></p>
          </div>
        </div>
        <div class="col">
          <div class="d-flex align-items-center my-3" style="color: #e33038">
            <i class="fab fa-angular"></i>
            <p class="w-100 mx-1 my-0"><ngb-progressbar type="success" [value]="80" [striped]="true" [animated]="true">Angular</ngb-progressbar></p>
          </div>
          <div class="d-flex align-items-center my-3" style="color: #553c7d">
            <i class="fab fa-bootstrap"></i>
            <p class="w-100 mx-1 my-0"><ngb-progressbar type="success" [value]="80" [striped]="true" [animated]="true">Bootstrap</ngb-progressbar></p>
          </div>
          <div class="d-flex align-items-center my-3" style="color: #99ca5d">
            <i class="fab fa-node-js"></i>
            <p class="w-100 mx-1 my-0"><ngb-progressbar type="success" [value]="80" [striped]="true" [animated]="true">Nodejs</ngb-progressbar></p>
          </div>
          <div class="d-flex align-items-center my-3" style="color: #11678c">
            <i class="fab fa-angular"></i>
            <p class="w-100 mx-1 my-0"><ngb-progressbar type="success" [value]="80" [striped]="true" [animated]="true">MySQL</ngb-progressbar></p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Skills end ============================================================================================= -->