<!-- Portfolio Start ============================================================================================= -->
<section id ="portfolio" class="section container p-5 text-center">
    <h3 class="mb-5 mt-3 fs-1">Mes Projets</h3>
    <hr>
    <div class="row g-4 p-4" *ngIf="projects">

        <div class="col-12 col-lg-6">
            <img src="../../assets/images/books.svg" alt="livre">
        </div>

        <div class="col-12 col-md-6 col-lg-3" *ngFor="let project of projects">
            <div class="card custom-card position-relative bg-light" borderCard>
                <img [src]="project.logo" [alt]="project.name" class="card-img my-auto">

                <!-- OffCanvas Start -->
                <ng-template #content let-offcanvas>
                    <div class="offcanvas-header text-center">
                        <h4 class="offcanvas-title">{{project.name}}</h4>
                        <!-- <img [src]="project.logo" alt=""> -->
                        <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')" ></button>
                    </div>
                    <div class="offcanvas-body position-relative">
                        
                        <app-portfolio-detail [project]="project"></app-portfolio-detail>

                        <div class="text-center mt-3">
                            <a class="btn btn-primary" target="_blank" [href]="project.gitlink">En voir plus</a>
                        </div>
                      
                        <div class="text-center btn-fixed">
                            <button type="button" class="btn btn-outline-dark" (click)="offcanvas.close('Close click')">Fermer</button>
                        </div>
                    </div>
                </ng-template>
                <!-- OffCanvas End  -->

                <button class="btn btn-primary btn-custom" (click)="openCanvas(content)">En savoir plus</button>
            </div>
        </div>

        <div class="col-12 col-lg-6">
            <img src="../../assets//images/dev-task.svg" alt="Tâches développeur">
        </div>

    </div>
    <a href="https://github.com/ClementCar" target="_blank" class="btn btn-primary mt-3">Voir mes autres projets</a>
</section>
<!-- Portfolio End ============================================================================================= -->