<header>
    <nav class="bg-light">
        <div class="container">
            <div class="bg-secondary py-4"></div>
        </div>
    </nav>
</header>
<section class="my-4">
    <div class="container">
        <div class="row align-items-center">
          <div class="col">
            <h1 class="fw-bold">Clément Carcenac</h1>
            <h2 class="fw-light">Développeur Web</h2>
            <button class="btn btn-primary mt-3">En savoir plus</button>
          </div>
          <div class="col">
            <img src="./assets/logo-black.JPG">
          </div>
        </div>
    </div>
</section>