<!-- <header>
  <nav class="navbar navbar-expand-md bg-light">
    <a href="#" class="navbar-brand">Clément Carcenac</a>
    <div class="container">
      <ul ngbNav [(activeId)]="active" class="nav-tabs">
        <li [ngbNavItem]="1">
          <a ngbNavLink>Home</a>
        </li>
        <li [ngbNavItem]="2">
          <a ngbNavLink>Portfolio</a>
        </li>
        <li [ngbNavItem]="3">
          <a ngbNavLink href="#btnTest">Bouton Test</a>
        </li>
      </ul>
    </div>
  </nav> 
</header> -->
<!-- Header =================================================================================== -->


<app-home></app-home>

<header>
  <nav class="navbar navbar-expand-md text-uppercase fw-bold bg-light navbar-light fixed-top">
    <div class="container">
      <a href="#" class="navbar-brand"><span class="bg-secondary bg-gradient p-1 rounded-3 text-white">Clément</span> Carcenac</a>
      <button class="navbar-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="toggle-navigation">
        <i class="fas fa-bars"></i>
      </button>
      <div id="navbarNav" class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a href="#home" class="nav-link">Accueil</a>
          </li>
          <li class="nav-item">
            <a href="#presentation" class="nav-link">Présentation</a>
          </li>
          <li class="nav-item">
            <a href="#portfolio" class="nav-link">Portfolio</a>
          </li>
          <li class="nav-item">
            <a href="#btnTest" class="nav-link">Boutton Test</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<!-- Presentation start ============================================================================================= -->
<section id="presentation" class="bg-light">
  <div class="container p-5">
    <Div class="row text-center py-5 px-3">
      <h3 class="mb-5 fs-1">Présentation</h3>
      <hr>
      <p>zzzzzzzzzzzzzzzz zzzzz zzzzzzz zzzzzzzzzz zzzzzzzzzzz zzzzzzzzzzz zzzzzzzzz zzzzzzzzzzz zzzzzzzzzz zzzzzzzzzzzzzzzzz
        zzzzzzzzzzzzzzzz zzzzz zzzzzzz zzzzzzzzzz zzzzzzzzzzz zzzzzzzzzzz zzzzzzzzz zzzzzzzzzzz zzzzzzzzzz zzzzzzzzzzzzzzzzz
        zzzzzzzzzzzzzzzz zzzzz zzzzzzz zzzzzzzzzz zzzzzzzzzzz zzzzzzzzzzz zzzzzzzzz zzzzzzzzzzz zzzzzzzzzz zzzzzzzzzzzzzzzzz
        zzzzzzzzzzzzzzzz zzzzz zzzzzzz zzzzzzzzzz zzzzzzzzzzz zzzzzzzzzzz zzzzzzzzz zzzzzzzzzzz zzzzzzzzzz zzzzzzzzzzzzzzzzz
      </p>
    </Div>
  </div>
</section>
<!-- Presentation end ============================================================================================= -->

<app-portfolio></app-portfolio>

<app-skills></app-skills>
  
<!-- Boutton offcanvas Trigger ============================================================================================= -->
  
<section id="btnTest" class="container my-4">
  
  <!-- Modal  -->
  <ng-template #modalContent let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Hey ! Bienvenue !</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <p>Et oui, ça marche !</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn bt-outline-dark" (click)="modal.close('Close click')">Fermer</button>
    </div>
  </ng-template>
  <button type="button" class="btn btn-lg btn-outline-light" (click)="openModal(modalContent)">Test du Modal !</button>
  
</section>
<div class="container px-4 text-center">
  <div class="row gx-5">
    <div class="col">
     <div class="p-3 border bg-light">Custom column padding</div>
    </div>
    <div class="col">
      <div class="p-3 border bg-light">Custom column padding</div>
    </div>
  </div>
</div>

<!-- Test nav start -->
<div class="container">
  <ul ngbNav #nav="ngbNav" class="nav-tabs">
    <li ngbNavItem>
      <a ngbNavLink>First</a>
      <ng-template ngbNavContent>
        <ngb-carousel>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img class="img-fluid" src="https://picsum.photos/1920/1080?random=1">
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img class="img-fluid" src="https://picsum.photos/1920/1080?random=2">
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img class="img-fluid" src="https://picsum.photos/1920/1080?random=3">
            </div>
          </ng-template>
        </ngb-carousel>
      </ng-template>
    </li>
    <li ngbNavItem>
      <a ngbNavLink>Second</a>
      <ng-template ngbNavContent>
        <video controls src="../assets/chouette/Chouette.mp4"></video>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav"></div>
</div>
<!-- Test nav End -->

<!-- footer start -->
<footer class="footer">
  <div class="container">
    <div class="row text-center my-5">
      <div class="d-flex justify-content-center">
        <a class="section__social__phone" href="tel:+33636671813" title="Numéro de téléphone">
          <i class="fa-solid fa-phone"></i>
        </a>
        <a class="section__social__email" href="mailto:clementcarcenac@gmail.com" title="Adresse Email">
            <i class="fa-solid fa-envelope"></i>
        </a>
        <a class="section__social__github" href="https://github.com/ClementCar" target="_blank" title="GitHub">
            <i class="fa-brands fa-github"></i>
        </a>
        <a class="section__social__linkedin" href="https://www.linkedin.com/in/clement-carcenac-4a61a11b0" target="_blank" title="Linkedin">
            <i class="fa-brands fa-linkedin"></i>
        </a>
      </div>
      <p>© 2023 Clément CARCENAC, tous droits réservés.</p>
    </div>
  </div>
</footer>
<!-- footer end -->