// color theme gray 
$primary: #ffdb58;
$secondary: #EFD5c0;
$light: #e4e2da;
$dark: #35343d;

/* Importing Bootstrap SCSS file. */
@import '../node_modules/bootstrap/scss/bootstrap';

body{
    position: relative;
    background-color: $dark;
    color: $secondary;
}

* {
    // font-family: 'Merriweather', serif;
    font-family: 'Montserrat', sans-serif;
    // font-family: 'Raleway', sans-serif;

}

h1, h2, h3, h4 {
    // font-family: 'Raleway', sans-serif;
    font-family: 'Fredericka the Great', cursive;
    // font-family: 'Oregano', cursive;
}

h3 {
    font-size: 50px;
}

hr {
    color: $primary;
}

img, video{
    max-width: 100%;
}

.btn-fixed{
    position: fixed;
    bottom: 5%;
    right: 5%;
}