<!-- Home start ============================================================================================= -->
<section id="home" class="vh-100 d-flex align-items-center position-relative">
    <div class="container">
        <div class="row align-items-center text-center">
          <div class="col">
            <h1 class="fw-bold">Clément Carcenac</h1>
            <h2 class="fw-light">Développeur Web - Front-end</h2>
            <a class="fs-2 btn-custom" href="#presentation" [ngsReveal]="{reset: true}"><i class="fas fa-arrow-down"></i></a>
          </div>
        </div>
    </div>
  </section>
  <!-- Home end ============================================================================================= -->