<!-- Page D'acceuil ============================================================================================= -->
<section id="home" class="vh-100 d-flex align-items-center position-relative">
    <div class="container">
        <div class="row align-items-center text-center">
          <div class="col">
            <h1 class="fw-bold">Clément Carcenac</h1>
            <h2 class="fw-light">Développeur Web</h2>
            <!-- <a class="btn btn-primary mt-3" href="#presentation">En savoir plus</a> -->
            <a class="fs-2 btn-custom" href="#presentation"><i class="fas fa-arrow-down"></i></a>
          </div>
          <!-- <div class="col">
            <img src="./assets/logo-black.JPG">
            <div class="text-center">
              <p (timeupdate)="showDate()">
                <strong>{{hours}}</strong> : <strong>{{minutes}}</strong> : <strong>{{seconds}}</strong>
              </p>
            </div>
          </div> -->
        </div>
    </div>
  </section>