<!-- Nav caroussel / video start -->
<ul ngbNav #nav="ngbNav" class="nav-tabs">
    <li ngbNavItem>
      <a ngbNavLink><i class="far fa-image"></i></a>
      <ng-template ngbNavContent>

        <!-- Caroussel Start -->
        <ngb-carousel class="bg-primary vh-60">
            <ng-template ngbSlide *ngFor="let image of project.images">
              <div class="picsum-img-wrapper">
                <img [src]="image" alt="" class="custom-img mx-auto d-block">
              </div>
            </ng-template>
        </ngb-carousel>
        <!-- Caroussel End -->

        <div class="container">
            <div class="row g-4 d-flex justify-content-center">
              <div class="col">
                <hr>
                <p>{{project.description}}</p>
              </div>
              <div class="col">
                <hr>
                <ul class="d-flex flex-wrap">
                  <li class="mx-3" *ngFor="let skill of project.skills">{{skill}}</li>
                </ul>
              </div>
            </div>
          </div>
      </ng-template>
    </li>
    <li ngbNavItem>
      <a ngbNavLink><i class="fas fa-video"></i></a>
      <ng-template ngbNavContent>
        <video class="mx-auto d-block" controls [src]="project.video"></video>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav"></div>
<!-- Nav caroussel / video end -->